/* first define fonts */
@font-face {
	font-family: 'Open Sans';
	src: url('/lib/fonts/OpenSans.woff');
}
@font-face {
	font-family: 'Open Sans Light';
	src: url('/lib/fonts/OpenSans-Light.woff');
}
@font-face {
	font-family: 'Open Sans Semibold';
	src: url('/lib/fonts/OpenSans-Semibold.woff');
}
			
/* begin styles */
html, body {
	font-family: 'Open Sans Light' !important; /* quick fix */
	background-color: white;
	color: #6e6e6e;
	opacity: 1;
	height: 100%;
	max-width: 100%;
	position: relative; /* for scrollspy */
	outline: 0;
}
h2 {
	font-family: 'Open Sans';
}	
.spacer {
	height: 15%;
}
.quarter-height {
	height: 25%;
}
.half-height {
	height: 50%;
}
.full-height {
	height: 100%;
}
.page {
	height: 100%;
	position: relative; /* for down arrow */
}
.btn-circle:hover {
	border-radius: 50%;
	background-color: black;
	color: #6e6e6e;
}
.image-header {
	text-align: center;
	line-height: 100%;
	font-size: 63px;
	font-family: 'Open Sans Light';
}
.image-spacer {
	height: 10%;
	background: 
    linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
    ),
	url('/lib/images/backgrounds/lake.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.jumbotron {
	color: #6e6e6e;
}
.down-arrow-container {
	width: 100%;
	position: absolute;
	bottom: 5%;
}
.down-arrow {
	margin: 0 auto;
	outline: 0;
	height: 73px;
	width: 73px;
}
#footer{
	color: white;
	font-family: 'Open Sans Light';
	background-color: black;
	margin-bottom: 0;
}