doctype html
html.no-js
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600")
    link(rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css")
    link(rel="stylesheet" href="/versions/3.0-beta/styles.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
    style.
      #four04::before {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        background: url("//i.imgur.com/SOi5bYA.jpg");
        background-size: cover;
      }
  body
    #four04.jumbotron.full-page.flex-center
      .container
        h1.wow.fadeIn.text-light.text-10x 404
        p.wow.fadeIn(data-wow-delay="0.3s") "Not all those who wander are lost."
          br
          | - J.R.R. Tolkien
        br
        br
        br
        .wow.fadeIn(data-wow-delay="0.3s")
          a.btn.btn-transparent.btn-lg.wow.bounce(href="./" data-wow-delay="0.6s")
            | Back to Home
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    script(src="https://cdn.rawgit.com/pixelcog/parallax.js/6f9b3b3ed54a7e0a4bbf95f02b8ae5f8b7ccd76d/parallax.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js")
    script.
      new WOW().init();
    script(src="/versions/3.0-beta/scripts.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.3.1/trianglify.min.js")
    script.
      function genTriangles() {
        var height = window.innerHeight;
        var width = window.innerWidth;
        var colorFunc = function(x, y) {
          return 'hsl(0,0%,'+Math.floor(Math.abs(x*y*100))+'%)';
        };
        var pattern = Trianglify({
          height: height * 1.3,
          width: width,
          cell_size: 100,
          color_function: colorFunc
        });
        var image = pattern.png();
        var elements = ["#four04::after"];
        var css = "<style>" +
                    elements.toString() + " {" +
                      "content: '';" +
                      "display: block;" +
                      "z-index: -1;" +
                      "position: absolute;" +
                      "top: 0;" +
                      "bottom: 0;" +
                      "left: 0;" +
                      "right: 0;" +
                      "opacity: 0.6;" +
                      "background: url(" + image + ");" +
                    "}" +
                  "</style>";
        $('head').append(css);
      }
      genTriangles();
      $(window).resize(function() {
        genTriangles();
      });
